<!DOCTYPE html>
<html>
  <head>
    <title>Session <%=session.id%> page </title>
  </head>

  <body>
    <h1>Session title: </h1>  <%=session.title%>
    <h1>Session description: </h1><%=session.description%>
    <h1>Session speaker: </h1><%=session.speakers[0].name%>
  </body>
</html>
